<section class="section">
  <div class="row">


    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Dashboard</h5>

        <div class="col-lg-6">
        
          <a href="/newPost" class="btn btn-primary mb-4">New Post</a>


       
        </div>

      </div>
    </div>

  </div>

  <div class="col-lg-6">



  </div>
  </div>
</section>