<section class="section">
  <div class="row">


    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Tech Blog Posts</h5>

          <div class="container mt-4">
            
            {{#each posts as |post|}}
            {{> post-info}}

            {{else}}
            <p>No posts available</p>
            {{/each}}
          </div>

      </div>
    </div>

  </div>

  
 
</section>